# Default ignored files
/.idea.BorderOnPause/.idea/workspace.xml
/.idea.BorderOnPause/.idea/.name
/../../Assemblies/0Harmony.dll
/../obj/Release/BorderOnPause.csproj.CopyComplete
/../obj/Debug/BorderOnPause.csproj.FileListAbsolute.txt
/../obj/Release/BorderOnPause.csproj.FileListAbsolute.txt
/../obj/Release/BorderOnPause.csprojAssemblyReference.cache
/../../Assemblies/BorderOnPause.dll
/../obj/Release/BorderOnPause.dll
/.idea.BorderOnPause/.idea/contentModel.xml
/.idea.BorderOnPause/.idea/encodings.xml
/.idea.BorderOnPause/.idea/indexLayout.xml
/.idea.BorderOnPause/.idea/modules.xml
/.idea.BorderOnPause/.idea/projectSettingsUpdater.xml
/.idea.BorderOnPause/riderModule.iml
/.idea.BorderOnPause/.idea/vcs.xml
